---
- name: Security for the servers 
  hosts: all
  become: yes 
  vars_files:
    - secrets.yml

#Task1
  tasks:
    - name: Ping the machines
      ping:

    - name: Ensure SSH key-based authentication is enabled
      lineinfile: 
        path: /etc/ssh/sshd_config  
        regexp: '^#?PubkeyAuthentication' 
        line: 'PubkeyAuthentication yes' 
        state: present
      notify:
        Restart SSH 

    - name: Ensure no password login
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'  
        line: 'PasswordAuthentication no' 
        state: present
      notify: 
        Restart SSH

#Task2
    - name: Ensure firewall enabled for CentOS
      service:
        name: firewallid
        state: started
        enabled: true
      when: ansible_facts['distribution'] == CentOS

    - name: Install python-3 firewall for firewalld module 
      package:
        name: python3-firewall
        state: present

    - name: Allow ports 22, 80, and 443 on RedHat
      firewalld:
        port: "{{ port }}"  
        proto: "tcp"
        state: enabled
      loop:
        - port:22
        - port 80
        - port:443
      when: ansible_facts['os_family'] == 'RedHat'
      
###for Ubuntu
#    - name: Ensure firewall enable for Ubuntu/Debian
#      service: 
#        name: UFW
#        enabled: true
#
#     - name: Allow ports 22, 80, and 443 on Ubuntu
#       ufw:
#       port: "{{ port }}"  #can you replace with service: https here
#       proto: "tcp"
#       state: enabled
#     loop:
#       - port:22
#       - port 80
#       - port:443
#     when: ansible_facts['os_family'] == 'Debian'

#Task3
    - name: Update and Upgrade packages on CentOS
      dnf:   
        upgrade: yes  
        update_cache: 
        state: latest
      when: ansible_facts['os_family'] == 'Redhat'

###for Ubuntu
#   - name: Update and Upgrade packages on Ubuntu
#     apt: 
#       upgrade: yes
#       update_cache: yes
#       state: latest

#Task#5
    - name: Audit Suspicious Permissions
      file:
        path: /var/log/{{ item }}
        owner: syslog
        group: adm
        mode: "0000"
      loop:
        - messages
        - syslog
        - auth.log

#other option?"
#  - name: Ensure consistent file permissions
#     file:
#       path: /etc/config/app.conf
#       owner: appuser
#       group: appgroup
#       mode: "0000"

#Task6
    - name: Install Netstat on RHEL
      dnf:
        name: net-tools
        state: present
      when: ansible_facts['os_family'] == 'RedHat'

###for Ubuntu
#   - name: Install Netstat on Debian
#     apt:
#       name: net-tools
#       state: present
#     when: ansible_facts['os_family'] == 'Debian'

    - name: Gather Facts on All Ports 
      community.general.listen_ports_facts:
        command: 'netstat'
        include_non_listening: true

#   - name: (6) Open Port Scanning
#       command: netstat -tulpn | column -t
#       register: netstat_output
#yours

    - name: Debug Open Ports
      debug:
        msg: "{{ netstat_output.stdout }}"


  handlers:
    - name: Restart SSH
      service:
        name: ssh
        state: restart
